/* -------------------
   Main Paige Section Styles
--------------------- */

/* The full background on the screen */
body {
    background-color: #d9d9d9;
}

/* Title Icon */
.header-icon {
    text-align: center;
    font-weight: bold; /* Will take this out when adding in png icon */
}

/* Holds Link Icons */
.link-header {
    text-align: center;
}

/* The computer background */
/* TODO: add the computer art background later */
.computer-background {
    width: 1200px; 
    height: 600px;
    background-color: #c79adb;
    margin: 50px auto; /* Sets the computer background in the middle */
    border-radius: 20px; /* Rounds the corners */
    box-shadow: 0 0 20px #2d2d2d; /* Creates drop shadow */
}

/* Computer header that holds the tabs */
.browser-header {
    width: 1200px;
    height: 40px;
    display: flex; /* Turns into a flex container */
    align-items: center; /* Items inside will be in the center of the container */
    position: relative; /* Allows positioning for items inside to be move around */
    border-top-left-radius: 20px; /* Only round the top corners */
    border-top-right-radius: 20px;
    background-color: #804e95;
}

/* Page Tabs */
.tabs {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

/* Each tab */
.tab {
    color: #ffffff;
    padding: 8px 18px;
    border: 1px solid #623177; 
    border-bottom: none; /* Removes the bottom of the border */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 5px #626262; /* Add shadow */
    position: relative;
    top: -.5px;
}

.tab.active {
    background-color: #9762ae;
}

.tab:hover {
    background-color: #9762ae;
}

/* Circle icons on left side of computer page */
.browser-icons {
    display: flex;
    gap: 10px; /* Gap between the circles */
    padding: 0 20px; /* Adds padding to the sides */
}

/* Each colored circle */
.browser-icons span {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer; /* TODO: might get rid of this */
    box-shadow: 0 0 3px #626262;
}

.browser-icons .close {
    background: #ff5f56;
}

.browser-icons .minimize {
    background: #f3ca57;
}

.browser-icons .maximize {
    background: #38de46;
}

/* Fake search bar header */
.search-header {
    width: 1200px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: #9762ae;
}

/* Search Box */
.fake-url {
    width: 1000px;
    height: 20px;
    border-radius: 20px;
    background-color: #d6d6d6;
    padding: 2px 5px;
}

/* -------------------
   About Section Styles
--------------------- */

/* Main Title Icon */
.about-icon {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding: 10px 10px;
}

/* holds the about me text */
.text-holder {
    width: 500px;
    height: 400px;
    border-radius: 20px;
    background-color: #d6d6d6;
    box-shadow: 0 0 20px #626262;
    margin-left: 50px;
}

.text-header {
    width: 500px;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #e0d196;
}

.text-icons {
    display: flex;
    position: relative;
}

.text-title, .text-body, .text-icons {
    padding: 10px 10px;
}

.exit {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: #f8f2b8;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #888;
    cursor: pointer;
    box-shadow: 0 0 2px #626262;
}

